@(script: org.daisy.pipeline.client.models.Script, scriptId: String, uploadFiles: Boolean, hasAdvancedOptions: Boolean, hideAdvancedOptions: Boolean, mediaTypeBlacklist: List[String])


<div id="script-@scriptId" data-fileinput="@uploadFiles">
<hgroup>
<h3>
	@script.nicename<br /> <small>@script.desc</small>
</h3>
@if(script.homepage!=null && script.homepage.href!=null && script.homepage.href.length()>0){
	<address class="muted">
		<a href="@script.homepage.href" target="_blank">Online Documentation <i class="icon-share"></a></i>
	</address>
}
</hgroup>

<form action="@routes.Jobs.postJob().unique()" method="POST" id="script-@scriptId-form" class="form-horizontal" onsubmit="DP2Forms.prepareSubmission('script-@scriptId')">
	<input type="hidden" id="script-@scriptId-id" name="id" value="@script.id" />
	<input type="hidden" id="script-@scriptId-uploads" name="uploads" value=""/>
	<script type="text/javascript">
		/* Prepare upload widget for validation and submission */
		var onSubmit = function() {
			var uploads = [];
			for (var id in Job.uploads) uploads.push(Job.uploads[id].id);
			$("#script-@scriptId-uploads").attr("value",uploads.join());
		}
		DP2Forms.beforeSubmit("script-@scriptId",onSubmit);
	</script>
	
	<fieldset>
		
		@for(arg <- script.arguments){
			@if(arg.required==true){
				@if(arg.output!="result" && arg.output!="temp" && arg.kind!="output"){
					@if(arg.kind=="parameters"){
						@Widgets.parameters(arg, script, scriptId)
					}else{
						@defining(arg.xsdType){xsdType => @xsdType match{
							case "string" => { @Widgets.string(arg, script, scriptId) }
							case "boolean" => { @Widgets.boolean(arg, script, scriptId) }
							case "anyFileURI" => { @Widgets.file(arg, script, scriptId, mediaTypeBlacklist) }
							case _ => { @Widgets.string(arg, script, scriptId) }
						}}
					}
				}
			}
		}
		
	</fieldset>
	
	@if(hasAdvancedOptions){
		<fieldset>
			<legend>
				<span>Optional parameters</span>
				<small><a class="accordion-toggle @("collapsed".when(hideAdvancedOptions)) advanced-options-toggle" data-toggle="collapse" href="#script-@scriptId-advanced-options" id="script-@scriptId-advanced-options-toggle">
					<style>
						#script-@scriptId-advanced-options-show { display:none; }
						#script-@scriptId-advanced-options-toggle.collapsed #script-@scriptId-advanced-options-show { display:inline; }
						#script-@scriptId-advanced-options-hide { display:inline; }
						#script-@scriptId-advanced-options-toggle.collapsed #script-@scriptId-advanced-options-hide { display:none; }
					</style>
					<span id="script-@scriptId-advanced-options-show"><i class="icon-chevron-down"></i>Show</span>
					<span id="script-@scriptId-advanced-options-hide"><i class="icon-chevron-up"></i>Hide</span>
				</a></small>
			</legend>
			
			<div class="control-group @("in".when(!hideAdvancedOptions)) collapse" id="script-@scriptId-advanced-options">
				@for(arg <- script.arguments){
					@if(arg.required==false || arg.required == null){
						@if(arg.output!="result" && arg.output!="temp" && arg.kind!="output"){
							@if(arg.kind=="parameters"){
								@Widgets.parameters(arg, script, scriptId)
							}else{
								@defining(arg.xsdType){xsdType => @xsdType match{
									case "string" => { @Widgets.string(arg, script, scriptId) }
									case "boolean" => { @Widgets.boolean(arg, script, scriptId) }
									case "anyFileURI" => { @Widgets.file(arg, script, scriptId, mediaTypeBlacklist) }
									case _ => { @Widgets.string(arg, script, scriptId) }
								}}
							}
						}
					}
					<br/>
				}
			</div>
		</fieldset>
	}
	
	<fieldset>
		@if(models.User.parseUserId(session()) != null && models.User.parseUserId(session()) < 0 && Setting.get("mail.enable") == "true" && Setting.get("users.guest.showEmailBox") == "true"){
			<div class="control-group">
				<label class="control-label" for="guest-email">Your e-mail</label>
				<div class="controls">
					<input name="guest-email" id="@scriptId-guest-email" type="email"/>
					<span class="help-block">Enter your e-mail address if you wish to receive a link to the job.</span>
				</div>
			</div>
		}
		
		<div class="form-actions">
			<button type="submit" value="Start job" data-loading-text="Starting job..." class="btn btn-large btn-primary" onclick="$(this).button('loading');">Start job</button>
		</div>
	</fieldset>
	
</form>
</div>
