# General temp files
.DS_Store
*.ser
*.pyc
logs
project/project
project/target
target
.target
tmp
.history
dist
bin
lib
.sbt*

# Default directories
/server/uploads
/server/local.results
/server/local.temp

# Derby database
/server/dp2webui
/server/derby.log

# IDE and editors
*~
.idea
nbproject
eclipse
.amateras
.settings
.classpath
.project
*.iml
*.ipr
*.iws
