# General temp files
.DS_Store
*.ser
*.pyc
logs
project/project
project/target
target
.target
tmp
.history
dist
bin
lib
webui/target
webui/logs
webui/dist
webui/bin
webui/lib

refreshclientlib.sh

# Default directories
webui/uploads
webui/local.results
webui/local.temp

# Derby database
webui/dp2webui
webui/derby.log

# IDE and editors
*~
.idea
nbproject
eclipse
webui/eclipse
.amateras
.settings
.classpath
.project
*.iml
*.ipr
*.iws
