@(script: pipeline2.models.Script, uploadFiles: Boolean)

@main("Create job", "",
Array("tmpl.js","jquery.ui.widget.js","jquery.iframe-transport.js","jquery.fileupload.js","jquery.fileupload-ui.js","notifications.js","createJob.js"),
Array("jquery.fileupload-ui.css")) {

<script type="text/javascript" charset="utf-8">
	script = @Html(play.libs.Json.stringify(play.libs.Json.toJson(script)));
	@if(play.Play.application().isDev()){
		$(function(){Job.debug = true;});
	}
	$(function(){Notifications.init("@routes.Notifications.websocket().webSocketURL(request)", "@routes.Notifications.xhr()");});
</script>

<h1>
	@script.nicename<br /> <small>@script.desc</small>
</h1>

@if(uploadFiles){
	@Widgets.upload()
}

@helper.form(action = routes.Jobs.postJob(), 'id -> "job-form", 'class -> "form-horizontal", 'onsubmit -> "Job.submit();") {
	<input type="hidden" id="id" name="id" value="@script.id" />
	<input type="hidden" id="uploads" name="uploads" value=""/>
	
	<fieldset>
	
		@for(arg <- script.arguments){
			@if(arg.kind=="parameters"){
				@Widgets.parameters(arg)
			}else{
				@defining(arg.xsdType){xsdType => @xsdType match{
					case "string" => { @Widgets.string(arg) }
					case "boolean" => { @Widgets.boolean(arg) }
					case "anyFileURI" => { @Widgets.file(arg) }
					case _ => { @Widgets.string(arg) }
				}}
			}
		}
	
		<div class="form-actions">
			<button type="submit" value="Start job" class="btn btn-large btn-primary">Start job</button>
		</div>
	
	</fieldset>
	
} @if(script.homepage!=null){
	<address style="text-align: center;">
		Script homepage: <a href="@script.homepage.href" target="_blank">@script.homepage.href</a>.
		@script.homepage.desc
	</address>
}

}
