@()

@main("Jobs", "jobs") {

<hgroup>
<h1>Jobs</h1>
@if(session.get("admin")=="true"){
	<p>Displaying jobs for all users</p>
}else{
@if(Setting.get("users.guest.shareJobs") == "true"){
	<p>Displaying jobs for all guests</p>
}else{
	<p>Displaying your jobs</p>
}}
</hgroup>

<table id="joblist" class="table joblist" style="display:none;">
	<thead>
		<tr id="joblist-headline">
			<th><img src="@routes.Assets.at("images/icon-info-sign.png")" alt="Status" title="Status"/></th>
			<th>Job</th>
			<th>Results</th>
			<th>Created</th>
			@if(Controller.flash("showOwner")=="true"){
				<th>Owner</th>
		    }
    	</tr>
	</thead>
	<tbody></tbody>
</table>

<script type="text/javascript">

addJob = function(job) {
	var statusText = job.status.charAt(0).toUpperCase() + job.status.slice(1).toLowerCase();
	var html = '<tr id="job-'+job.id+'" class="job">'+"\n";
	html += '    <td id="job-status-'+job.id+'">'+"\n";
	html += '        <img src="@routes.Assets.at("images/")'+job.status+'.png" alt="'+statusText+'" title="'+statusText+'"/>'+"\n";
	html += '    </td>'+"\n";
	html += '    <td>'+"\n";
	html += '        <a href="@routes.Jobs.getJob("")'+job.id+'">'+"\n";
	html += '            '+job.nicename+' ('+job.scriptName+')<br/>'+"\n";
	html += '            <small class="muted">'+job.id+'</small>'+"\n";
	html += '        </a>'+"\n";
	html += '    </td>'+"\n";
	html += '    <td id="job-results-'+job.id+'">'+"\n";
	if (job.status==="DONE") {
		html += '        <span><a class="btn btn-mini btn-success" href="'+'@routes.Jobs.getResult("JOBID")'.replace('JOBID',job.id)+'"><i class="icon-download-alt icon-white"></i> Download</a></span>'+"\n";
	}
	html += '    </td>'+"\n";
	html += '    <td>'+"\n";
	html += '        <span id="created-'+job.id+'-fuzzy" aria-live="timer"></span><br/>'+"\n";
	html += '        <small id="created-'+job.id+'" class="muted">'+new Date(job.created)+'</small>'+"\n";
	html += '    </td>'+"\n";
	@if(Controller.flash("showOwner")=="true"){
		html += '    <td>'+"\n";
		html += '        '+job.userNicename+'<br/>'+"\n";
		if (job.user < 0) {
			html += '        <small class="muted">#'+(-job.user)+'</small>'+"\n";
		}
		html += '    </td>'+"\n";
	}
	html += '</tr>'+"\n";
	
	if ($("#job-"+job.id).length > 0) {
		$("#job-"+job.id).replaceWith(html);
	}
	else {
		$("#joblist tbody").prepend(html);
	}
	
	$("#nojobs").hide();
	$("#joblist").show();
	
	updateFuzzy("created-"+job.id+"-fuzzy",new Date( job.created === null ? 999999999999999 : job.created ));
	
	Notifications.listen("job-status-"+job.id, function(status, id){
		var statusText = status.charAt(0).toUpperCase() + status.slice(1).toLowerCase();
		$("#job-status-"+id).html('<img src="@routes.Assets.at("images/")'+status+'.png" alt="'+statusText+'" title="'+statusText+'"/>');
		if (status==="DONE") {
			$("#job-results-"+id).html(' <span><a class="btn btn-mini btn-success" href="'+'@routes.Jobs.getResult("JOBID")'.replace('JOBID',id)+'"><i class="icon-download-alt icon-white"></i> Download</a></span>');
		}
	}, job.id);
}

$(function(){
	$.ajax({
		url: "@routes.Jobs.getJobsJson()?"+new Date().getTime(),
		error: function(jqXHR, textStatus, errorThrown) {
			// error; too bad :(
		},
		success: function(jobs, textStatus, jqXHR) {
			if (jobs.length == 0) {
				$("#joblist").hide();
				$("#nojobs").show();
			} else {
				$("#nojobs").hide();
				$("#joblist").show();
			}
			$(".job").remove();
			$.each(jobs.reverse(), function(j, job) {
				addJob(job);
			});
		}
	});
	
	Notifications.listen("new-job", function(job){
		addJob(job);
	});
});
</script>

<div id="nojobs" role="alert" class="muted" style="width:100%;text-align:center;display:none;">
	<p>There are no jobs.</p>
</div>

}