@(jobs: List[Job])

@main("Jobs", "jobs", Array("notifications.js")) {

<script type="text/javascript" charset="utf-8">
$(function(){Notifications.init("@routes.Notifications.websocket().webSocketURL(request)", "@routes.Notifications.xhr().absoluteURL(request)");});
</script>

<h1>Jobs</h1>

@if(jobs.size() > 0) {

	<table class="table joblist">
	<tr>
		<th>Job</th>
		<th>Status</th>
		<th>Created</th>
		@if(Controller.flash("showOwner")=="true"){
			<th>Owner</th>
		}
	</tr>
	@for(job <- jobs) {
	<tr>
		<td><a href="@routes.Jobs.getJob(job.id)">@job.nicename</td>
		<td id="job-status-@job.id">
			@job.status
			@if(job.status=="DONE"){
				<span style="padding-left: 20px;"><a class="btn btn-mini btn-success" href="@routes.Jobs.getResult(job.id)"><i class="icon-download-alt icon-white"></i> Download</a></span>
			}
			<script type="text/javascript">
				$(function(){Notifications.listen("job-status-@job.id", function(status){
					$("#job-status-@job.id").html(status);
					if (status==="DONE")
						$("#job-status-@job.id").append(' <span style="padding-left: 20px;"><a class="btn btn-mini btn-success" href="@routes.Jobs.getResult(job.id)"><i class="icon-download-alt icon-white"></i> Download</a></span>');
				});});
			</script>
		</td>
		<td>@controllers.Jobs.DATE_FORMAT.format(job.created)</td>
		@if(Controller.flash("showOwner")=="true"){
			<td>@job.userNicename</td>
		}
	</tr>
	}
	</table>

}else {
	
	<div role="alert" class="alert alert-info">
		<p>There are no jobs.</p>
	</div>

}

}