@(href: String, id: String, nicename: String, description: String, status: String, scriptHref: String, scriptId: String, script: String, log: String, result: String, jobMessages: List[List[String]])

@main("View job") {

<h1>Job: @nicename <br/><small>(@id)</small></h1>

<div class="row">
	<div class="hero-unit" style="text-align:center">
	
@if(status=="DONE"){
	<h2>Job finished successfully!</h1>
	<a class="btn btn-large btn-success" href="@routes.Jobs.getResult(id)"><i class="icon-download-alt icon-white"></i> Download results</a>
	
}else{@if(status=="RUNNING"){
	<meta http-equiv="refresh" content="1"/><!-- TEMP: will replace this with push-notifications or similar soon! -->
	<h2 style="color:#000080;">Job is running</h2>
	@if(jobMessages.size()>0){
		<ol start="@jobMessages.get(jobMessages.size()-1).get(1)"><li><pre>@jobMessages.get(jobMessages.size()-1).get(2)</pre></li></ol>
	}
	
}else{@if(status=="IDLE"){
	<h2 style="color:#000080;">Job is idle</h2>
	@if(jobMessages.size()>0){
		<ol start="@jobMessages.get(jobMessages.size()-1).get(1)"><li><pre>@jobMessages.get(jobMessages.size()-1).get(2)</pre></li></ol>
	}
	
}else{@if(status=="ERROR"){
	<h2 style="color:#800000;">Job failed</h2>
	<p>See the message log for details.</p>
	
}else{
	@status
	
}}}}

	</div>
</div>

<div class="well">
	<h2>Other output</h2>
	<br/>
	<a class="btn btn-info" href="@routes.Jobs.getLog(id)"><i class="icon-eye-open"></i> Detailed log</a>
	<!-- Other outputs such as secondary output ports can be listed here -->
</div>

<h2>Messages</h2>

<ol class="messagelist">
	@for(message <- jobMessages){
		<li class="message @("message-error".when("ERROR".equals(message.get(0)))) @("message-warn".when("WARN".equals(message.get(0))))""><code>@message.get(2)</code></li>
	}
</ol>

}