@(jobs: List[Job])

@main("Jobs", "jobs", Array("notifications.js")) {

<script type="text/javascript" charset="utf-8">
$(function(){Notifications.init("@routes.Notifications.websocket().webSocketURL(request)", "@routes.Notifications.xhr().absoluteURL(request)");});
</script>

<h1>Jobs</h1>

@if(jobs.size() > 0) {

	<table class="table joblist">
	<tr>
		<th>Job</th>
		<th>Status</th>
		<th>Created</th>
		@if(Controller.flash("showOwner")=="true"){
			<th>Owner</th>
		}
	</tr>
	@for(job <- jobs) {
	<tr>
		<td><a href="@routes.Jobs.getJob(job.id)">@job.nicename</td>
		<td id="job-status-@job.id">
			@job.status
			<script type="text/javascript">
				$(function(){Notifications.listen("job-status-@job.id", function(status){$("#job-status-@job.id").html(status);});});
			</script>
		</td>
		<td>@controllers.Jobs.DATE_FORMAT.format(job.created)</td>
		@if(Controller.flash("showOwner")=="true"){
			<td>@job.userNicename</td>
		}
	</tr>
	}
	</table>

}else {
	
	<div role="alert" class="alert alert-info">
		<p>There are no jobs.</p>
	</div>

}

}