h1 {
	text-align: center;
	padding-bottom: 2em;
}

.alert {
	text-align: center;
	p {
		width: 100%;
	}
}

div.submitjob {
	text-align: center;
}

#filetable {
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
	
	th {
		padding: 12px 17px 12px 17px;
		font-weight: normal;
		font-size: 14px;
		border: 0px;
		border-bottom: 1px dashed #69c;
	}
	td {
		padding: 7px 17px 7px 17px;
		border: 0px;
	}
	tbody tr:hover td {
		background: #d0dafd;
	}
}

.logline {
	white-space: nowrap;
}

.messageline {
	white-space: nowrap;
}

tr.message-error {
	background-color: #FAA;
}

tr.message-warn {
	background-color: #FFA;
}

body.file-hover, .body .file-hover * {
	opacity: 0.6;
}