@(scriptsForm: Form[controllers.Administrator.ConfigureScripts], route: play.api.mvc.Call)

@helper.form(action = route) {
	
	<input type="hidden" name="formName" value="configureScripts"/>
	
	<fieldset>
		<div class="form-horizontal">
        	
        	@for(script <- controllers.Scripts.get()) {
        		@defining(UserSetting.get(-2L, "scriptEnabled-"+script.getId())=="true") { enabled =>
        			<div class="control-group">
	        			<label class="control-label" id="xconfigureScripts-script-@script.getId()-label">@script.getNicename()</label>
	        			<div class="controls">
	        				<div class="btn-group" data-toggle="buttons-radio" aria-role="radiogroup" aria-labelledby="configureScripts-script-@script.getId()-label" id="xconfigureScripts-script-@script.getId()">
	        					<button type="button" name="configureScripts-script-@script.getId()-off" class="btn @if(!enabled) { active }" id="xconfigureScripts-script-@script.getId()-disable" aria-role="radio" aria-checked="@(!enabled)" onclick="toggleRadio('configureScripts-script-@script.getId()', false, '@enabled');">Disable</button>
	        					<button type="button" name="configureScripts-script-@script.getId()-on" class="btn @if(enabled) { active }" id="xconfigureScripts-script-@script.getId()-enable" aria-role="radio" aria-checked="@(enabled)" onclick="toggleRadio('configureScripts-script-@script.getId()', true, '@enabled');">Enable</button>
	        					<input type="hidden" id="xconfigureScripts-script-@script.getId()-value" name="configureScripts-script-@script.getId()" value="@enabled">
	        				</div>
	        			</div>
					</div>
				}
        	}
			
			<div class="form-actions" id="configureScripts-submitButtons">
				<button type="submit" class="btn btn-primary" id="configureScripts-submit" name="submit">Save</button>
			</div>
			
		</div>
	</fieldset>
}