@()

@main("Starting Pipeline 2", "", Array("notifications.js"), Array(), Array()){

<script type="text/javascript" charset="utf-8">
$(function(){Notifications.init("@{routes.Notifications.websocket(Long.parseLong(flash().get("browserId"))).webSocketURL(request)}", "@{routes.Notifications.xhr(Long.parseLong(flash().get("browserId"))).absoluteURL(request)}");});
</script>

<div class="page-header">
  <h1 id="h1" aria-live="polite">
  	<span class="state">Starting DAISY Pipeline 2</span>
  	<span class="FWK_NOT_FOUND state" style="display:none;">Framework not found</span>
  	<span class="PLEASE_STOP_FWK state" style="display:none;">Please stop the framework</span>
  	<span class="UNABLE_TO_START_FWK state" style="display:none;">Unable to start the framework</span>
  	<span class="SUCCESS state" style="display:none;">Successfully started the framework!</span>
  </h1>
  <div class="progress progress-striped active" id="configurationProgress">
    <div class="bar" style="width: 0%;" id="configurationProgressBar"></div>
  </div>
</div>

<div class="message" style="text-align: center;">
	<!-- Initial message -->
</div>

<div class="FWK_NOT_FOUND message" style="display:none;">
	<div class="row">
		<div class="span3"><img src="@routes.Assets.at("images/fwk_not_found.png")" alt="" style="margin:10px;"/></div>
		<div class="span9">
			<div class="alert alert-error" style="text-align:left;">
				<p>When running the Pipeline 2 Web UI in desktop mode, you need to install it inside the framework directory.</p>
				<!--
					TODO: uncomment when bundled version is released
					<p>You can download a ZIP from the <a href="http://code.google.com/p/daisy-pipeline/">Pipeline 2 webside</a>, where the Web UI is already bundled with the framework.</p>
				-->
				<p>If you have not yet installed the Pipeline 2 framework, please visit the <a href="http://code.google.com/p/daisy-pipeline/">Pipeline 2 webside</a> and follow the instructions there.</p>
				<p>If you have installed the Pipeline 2 framework, please locate the directory it is installed in, shut down the Web UI, move the Web UI directory into the framework directory, and restart the Web UI.</p>
				<p>If you need further assistance, please visit the <a href="http://www.daisy.org/forums/pipeline-2">Pipeline 2 forum</a> for help.</p>
			</div>
		</div>
	</div>
</div>

<div class="PLEASE_STOP_FWK message alert alert-error" style="display:none;text-align:left;">
	<p>A running instance of the Pipeline 2 framework was found on <code class="endpoint"></code>. Please shut it down before continuing.</p>
	<p>If you need further assistance, please visit the <a href="http://www.daisy.org/forums/pipeline-2">Pipeline 2 forum</a> for help.</p>
</div>

<div class="UNABLE_TO_START_FWK message alert alert-error" style="display:none;text-align:left;">
	<p>A problem occured which prevented us from starting the Pipeline 2 framework.</p>
	<p>
		Please make sure that you are able to start the Pipeline 2 framework using the command-line interface, and that it is running on port 8181.
		You can learn more about the command-line interface in the <a href="http://code.google.com/p/daisy-pipeline/wiki/CommandLine">command-line interface user guide</a>.
	</p>
	<p>If you need further assistance, please visit the <a href="http://www.daisy.org/forums/pipeline-2">Pipeline 2 forum</a> for help.</p>
</div>

<div class="SUCCESS message" style="display:none;text-align:center;">
	<!-- Message on success -->
	@helper.form(action = routes.FirstUse.getFirstUse()) {
		<button type="submit" value="Continue..." class="btn btn-large btn-primary">Continue...</button>
	}
</div>


<script type="text/javascript">
	var lastMessage = {time:0};
	$(function(){
		Notifications.listen("dp2locator", function(message){
			if (typeof message.time === "number" && message.time < lastMessage.time)
				return;
			if (typeof message === "number") {
				$("#configurationProgressBar").width(message+"%");
				$("#configurationProgress").removeClass("progress-danger").addClass("progress-info");
				if (message === 100) {
					$("#configurationProgress").removeClass("progress-striped").removeClass("active").addClass("progress-success");
					$("#configurationProgress").removeClass("progress-danger").removeClass("progress-info").addClass("progress-success");
				}
				
			} else if ($("."+message.state).size() > 0) {
				$(".endpoint").html(message.endpoint);
				$(".message").hide();
				$(".state").hide();
				if (message.state === "SUCCESS") {
					$(".SUCCESS.state").show();
					window.location='@routes.FirstUse.getFirstUse()';
					setTimeout(function(){
						$(".SUCCESS.message").show();
					},5000);
				} else {
					$("."+message.state).show();
				}
				if (message.state !== "SUCCESS")
					$("#configurationProgress").removeClass("progress-info").addClass("progress-danger");
			}
		});
	});
</script>

}