@()

@main("Starting Pipeline 2", "", Array("notifications.js"), Array(), Array()){

<script type="text/javascript" charset="utf-8">
$(function(){Notifications.init("@{routes.Notifications.websocket(Long.parseLong(flash().get("browserId"))).webSocketURL(request)}", "@{routes.Notifications.xhr(Long.parseLong(flash().get("browserId"))).absoluteURL(request)}");});
</script>

<div class="page-header">
  <hgroup>
	  <h1 id="h1" aria-live="polite">
	  	<span class="STARTING state">Starting the Pipeline 2 engine...</span>
	  	<span class="RUNNING state" style="display:none;">Successfully started the Pipeline 2 engine!</span>
	  </h1>
  </hgroup>
</div>

<div class="STOPPED STARTING message" style="text-align:center;">
	<img src="@routes.Assets.at("images/loading.gif")" alt="" style="margin:10px;"/><br/>
	<!-- TODO: show error message if unable to start pipeline 2 engine. also suggest solutions like installing the engine and getting support on the mailinglist. -->
</div>

<div class="SUCCESS message" style="text-align:center;display:none;">
	<!-- successfully started the pipeline 2 engine -->
</div>


<script type="text/javascript">
	lastMessage = null;
	started = null;
	$(function(){
		started = new Date();
		lastMessage = new Date(); 
		Notifications.listen("heartbeat", function(state){
			lastMessage = new Date();
			if (state === "RUNNING") {
				window.location='@routes.FirstUse.welcome()';
				setTimeout(function(){
					$(".state, .message").hide();
					$("."+state).show();
				},1000); // avoid flashing success message before redirect
			} else {
				$(".state, .message").hide();
				$("."+state).show();
			}
		});
	});
</script>

}