@(setDeploymentForm: Form[controllers.Administrator.SetDeploymentForm])

@main("First use", "", Array(), Array(), Array()){
    
    <div class="hero-unit">
	    
	    <div class="page-header">
	      <hgroup>
	      	<h1>Choose a deployment type</h1>
	      </hgroup>
	      <p style="text-align:center;">Are you installing Pipeline 2 and the Web UI on your own computer or will it be running on a server?</p>
	    </div>
	    
	    @if(flash.contains("error")) {
	        <div role="alert" class="alert alert-error">
	            <a class="close" data-dismiss="alert">&times;</a>
	            @flash.get("error")
	        </div>
	    }
	    
	    @if(flash.contains("success")) {
	        <div role="alert" class="alert alert-success">
	            <a class="close" data-dismiss="alert">&times;</a>
	            @flash.get("success")
	        </div>
	    }
	    
	    @views.html.Administrator.Forms.setDeployment(setDeploymentForm, routes.FirstUse.postFirstUse())
	    
    </div>
    
}