@(setUploadDirForm: Form[controllers.FirstUse.SetUploadDirForm])

@main("First use", "", Array(), Array(), Array()){
      	
      	<div class="page-header">
           	<h1>Set the temporary directory for uploads</h1>
        </div>
      	
     	<p>When users upload files to this web interface, they will have to be stored to disk somewhere. Depending on the number of users and the type of usage (especially if you're working a lot with audio), this folder might grow very large, so point it to someplace where there is at least a few gigabytes of storage.</p>
     	<p>This setting can be changed in the administrator settings at a later time. You can skip setting up this now, but you will not be able to upload files or start jobs before an upload directory is configured.</p>
     	<p>Suggested upload directory: <code>@{System.getProperty("user.dir") + System.getProperty("file.separator") + "uploads" + System.getProperty("file.separator")}</code></p>
      	<hr/>
      	
        @helper.form(action = routes.FirstUse.postSetUploadDir()) {
        	
            @if(setUploadDirForm.hasGlobalErrors) {
                <div role="alert" class="alert alert-error">
                    @setUploadDirForm.globalError.message
                </div>
            }
            
            @if(flash.contains("success")) {
                <div role="alert" class="alert alert-success">
                    @flash.get("success")
                </div>
            }
            
            <div class="row">
	            <fieldset class="offset2 span8">
		            
		            <div class="form-horizontal">
		            	<div class="control-group @("error".when(setUploadDirForm.error("uploaddir") != null))">
							<label for="uploaddir" class="control-label">Upload directory</label>
							<div class="controls">
								<input type="text" name="uploaddir" id="uploaddir" placeholder="URL" class="input-xlarge span4" value="@setUploadDirForm.field("uploaddir").valueOr(System.getProperty("user.dir") + System.getProperty("file.separator") + "uploads" + System.getProperty("file.separator"))"/>
								@if(setUploadDirForm.field("uploaddir").errors().size() > 0){
									<span class="help-inline">A valid filesystem path must be provided.</span>
								}
							</div>
						</div>
						
						<div class="form-actions">
							<button class="btn btn-primary" id="submit" type="submit" name="submit">Ok, looks good</button>
							<button class="btn" id="skip" type="button" name="skip" formmethod="get" formaction="@routes.FirstUse.getWelcome()" onclick="window.location='@routes.FirstUse.getWelcome()'">I'll configure it later <i class="icon-hand-right"></i></button>
						</div>
					</div>
					
				</fieldset>
			</div>
        }

}