@()

@main("Welcome!") {
	
	<div class="page-header">
		<hgroup>
	    	<h1>Welcome!</h1>
    	</hgroup>
	</div>
	
	@if(flash.contains("error")) {
        <div role="alert" class="alert alert-error">
        	<a class="close" data-dismiss="alert">&times;</a>
            @flash.get("error")
        </div>
    }
	
    @if(flash.contains("success")) {
        <div role="alert" class="alert alert-success">
        	<a class="close" data-dismiss="alert">&times;</a>
            @flash.get("success")
        </div>
    }

	<p>The DAISY Pipeline is a collaborative project maintained by the DAISY Consortium, with numerous organizations participating and contributing to the development. If you want to know more about the Pipeline 2, visit our <a href="http://www.daisy.org/pipeline2" target="_blank">homepage</a>. If you have any questions, feel free to ask them in <a href="http://www.daisy.org/forums/pipeline-2" target="_blank">our forum</a>.</p>
	<br/>
	
	<div class="hero-unit" style="text-align:center;font-size:1.5em;">
		<!--<button class="btn btn-large" style="font-size:1.5em;" href="#">Take the tutorial</button>
		or-->
		<a class="btn btn-large btn-primary" style="font-size:1.5em;" href="@routes.Jobs.newJob()">Get started</a>
	</div>
	
}
