@()

@main("Welcome!") {
	
	<div class="page-header">
	    <h1>Welcome!</h1>
	</div>
	
	<p>We hope you have a pleasant time using the DAISY Pipeline 2 for all your document-related pipelined transformations.</p>
	<p>The DAISY Pipeline is a collaborative project maintained by the DAISY Consortium, with numerous organizations participating and contributing to the development. If you want to know more about the Pipeline 2, visit our homepage at <a href="http://www.daisy.org/pipeline2" target="_blank">http://www.daisy.org/pipeline2</a>. If you have any questions, feel free to ask them in our forum at <a href="http://www.daisy.org/forums/pipeline-2" target="_blank">http://www.daisy.org/forums/pipeline-2</a>.</p>
	<p>Use the navigation bar on the top of the page to get started using Pipeline 2.</p>
	<p>Regards,<br/> The Pipeline 2 Team.</p>
	<hr/>
	
	@if(flash.contains("error")) {
        <div role="alert" class="alert alert-error">
            @flash.get("error")
        </div>
    }
	
    @if(flash.contains("success")) {
        <div role="alert" class="alert alert-success">
            @flash.get("success")
        </div>
    }

}