@()

@main("Administrator settings", "admin") {

<div class="page-header">
    <h1>Administrator settings</h1>
</div>

<h2>TODO: Administrator settings</h2>
<ul>
	<li>Add other users</li>
	<li>Delete other users</li>
	<li>Edit name of other users</li>
	<li>Edit email of other users</li>
	<li>Send new password to other users</li>
	<li><span>Hide selected scripts</span>
		<ul>
			<li>Globally</li>
			<li>Per user</li>
		</ul>
	</li>
	<li>A way to set what scripts are free-for-all (i.e. no login required)</li>
	<li>A way to turn off authentication globally; so no login is required for anyone (only for admin)</li>
</ul>

<hr/>

}