@(forms: controllers.Administrator.AdminForms, userList: List[User])

@main("Administrator settings", "admin") {

<div class="page-header">
    <h1>Administrator settings</h1>
</div>

@if(forms.userForm != null && forms.userForm.hasGlobalErrors()
	|| forms.guestForm != null && forms.guestForm.hasGlobalErrors()
	|| forms.globalForm != null && forms.globalForm.hasGlobalErrors()
	|| Controller.flash("error") != null) {
    <div role="alert" class="alert alert-error">
    	<button class="close" data-dismiss="alert">×</button>
    	@if(forms.userForm != null && forms.userForm.hasGlobalErrors) {
        	<p>@forms.userForm.globalError.message</p>
        }
        @if(forms.guestForm != null && forms.guestForm.hasGlobalErrors) {
        	<p>@forms.guestForm.globalError.message</p>
        }
        @if(forms.globalForm != null && forms.globalForm.hasGlobalErrors) {
        	<p>@forms.globalForm.globalError.message</p>
        }
        @if(Controller.flash("error") != null) {
        	<p>@Controller.flash("error")</p>
        }
    </div>
}

@if(flash.contains("success")) {
    <div role="alert" class="alert alert-success">
    	<button class="close" data-dismiss="alert">×</button>
        @flash.get("success")
    </div>
}

<div class="tabbable tabs-left">
	<h2>Users and permissions</h2>
	<br/>
	
	<ul class="nav nav-tabs">
		<li class="@("active".when(play.mvc.Controller.flash("settings.usertab") == "global" || play.mvc.Controller.flash("settings.usertab") == null))"><a href="#usertab-global" data-toggle="tab"><i class="icon-globe"></i> <em>Global</em></a></li>
		<hr/>
		
		<li class="@("active".when(play.mvc.Controller.flash("settings.usertab") == "guest"))"><a href="#usertab-guest" data-toggle="tab"><i class="icon-user"></i> @models.Setting.get("guest.name")</a></li>
		
		@for(user <- userList) {
			<li class="@("active".when(play.mvc.Controller.flash("settings.usertab") == ""+user.id))"><a href="#usertab-@user.id" data-toggle="tab"><i class="icon-user"></i> @user.name</a></li>
		}
		
		<li class="@("active".when(play.mvc.Controller.flash("settings.usertab") == "adduser"))"><a href="#usertab-adduser" data-toggle="tab"><i class="icon-plus"></i> <em>Add user</em></a></li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane @("active".when(play.mvc.Controller.flash("settings.usertab") == "global" || play.mvc.Controller.flash("settings.usertab") == null))" id="usertab-global">
			@Forms.userGlobal(forms.globalForm, routes.Administrator.postSettings())
		</div>
		
		<div class="tab-pane @("active".when(play.mvc.Controller.flash("settings.usertab") == "guest"))" id="usertab-guest">
			@Forms.userGuest(forms.guestForm, routes.Administrator.postSettings())
		</div>
		
		@for(user <- userList) {
			<div class="tab-pane @("active".when(play.mvc.Controller.flash("settings.usertab") == ""+user.id))" id="usertab-@user.id">
				@Forms.user(forms.userForm, user, routes.Administrator.postSettings(), routes.Administrator.getPostSettings())
			</div>
		}
		
		<div class="tab-pane @("active".when(play.mvc.Controller.flash("settings.usertab") == "adduser"))" id="usertab-adduser">
			@Forms.userAdd(forms.userForm, routes.Administrator.postSettings())
		</div>
	</div>
</div>
<hr/>

<br/><br/>
<div>
	<h2>Pipeline 2 Web Service endpoint</h2>
	<br/>
  	@views.html.Administrator.Forms.setWS(forms.setWSForm, routes.Administrator.postSettings(), null)
</div>
<hr/>

<br/><br/>
<div>
	<h2>Temporary directory for uploads</h2>
	<br/>
	@views.html.Administrator.Forms.setUploadDir(forms.setUploadDirForm, routes.Administrator.postSettings(), null)
</div>
<hr/>

<br/><br/>
<div>
	<h2>E-mail settings</h2>
	<br/>
	@views.html.Administrator.Forms.configureEmail(forms.configureEmailForm, routes.Administrator.postSettings(), null)
</div>
<hr/>

<!--
<div>
	<h2>Visual themes</h2>
</div>
<hr/>
-->

}