@(arg: pipeline2.models.script.Argument, script: pipeline2.models.Script)

<div class="control-group @("advanced-argument".when(arg.hide))" style="@("display:none;".when(arg.hide))">
	<label class="control-label">@arg.nicename</label>
	<div class="controls">
		<label class="radio">
			<input type="radio" name="@{arg.kind}-@{arg.name}" value="true" checked=""> Yes
		</label>
		<label class="radio">
			<input type="radio" name="@{arg.kind}-@{arg.name}" value="false"> No
		</label>
		@if(arg.desc.length > 0){
			<span class="help-block">@arg.desc</span>
		}
	</div>
</div>