@(arg: org.daisy.pipeline.client.models.script.Argument, script: org.daisy.pipeline.client.models.Script, scriptId: String)

<input type="hidden" name="@{arg.kind}-@{arg.name}" value="true" id="script-@scriptId-@{arg.kind}-@{arg.name}-value"/>

<div class="control-group @("advanced-argument".when(!arg.required))">
	<label class="control-label" id="script-@scriptId-@{arg.kind}-@{arg.name}-label" for="@{arg.kind}-@{arg.name}" aria-label="@{arg.kind}-@{arg.name}">@arg.nicename</label>
	<div class="controls">
		<div class="btn-group" data-toggle="buttons-radio" aria-role="radiogroup" aria-labelledby="@{arg.kind}-@{arg.name}-label" id="script-@scriptId-@{arg.kind}-@{arg.name}">
			<button type="button" name="@{arg.kind}-@{arg.name}-on" class="btn active" id="script-@scriptId-@{arg.kind}-@{arg.name}-on"
				aria-role="radio" aria-checked="true"
				onclick="toggleRadio('script-@scriptId-@{arg.kind}-@{arg.name}', true, 'true');return false;">Yes</button>
			<button type="button" name="@{arg.kind}-@{arg.name}-off" class="btn" id="script-@scriptId-@{arg.kind}-@{arg.name}-off"
				aria-role="radio" aria-checked="false"
				onclick="toggleRadio('script-@scriptId-@{arg.kind}-@{arg.name}', false, 'false');return false;">No</button>
		</div>
		@if(arg.desc.length > 0){
			<span class="help-block">@arg.desc</span>
		}
	</div>
</div>