@(arg: pipeline2.models.script.Argument, script: pipeline2.models.Script)

@if(arg.sequence){
	
	<div class="control-group @("advanced-argument".when(arg.hide))" style="@("display:none;".when(arg.hide))">
		<!-- TODO: if ordered sequence; show up/down controls -->
		<!-- TODO: allow drag'n'drop for reordering -->
		<label class="control-label">@arg.nicename</label>
		<div class="controls">
			<div class="row"></div>
			<div class="row">
				<div class="span"><input name="@{arg.kind}1-@{arg.name}" type="text"></div>
				<div class="span"><button class="btn"><i class="icon-remove"></i> Remove</button></div>
			</div>
			<div class="row">
				<div class="span"><input name="@{arg.kind}2-@{arg.name}" type="text"></div>
				<div class="span"><button class="btn"><i class="icon-remove"></i> Remove</button></div>
			</div>
			<div class="row">
				<div class="span"></div>
				<div class="span"><button class="btn"><i class="icon-plus"></i> Add</button></div>
			</div>
			@if(arg.desc.length > 0){
				<span class="help-block">@arg.desc</span>
			}
		</div>
	</div>
	
}else{
	
	<div class="control-group @("advanced-argument".when(arg.hide))" style="@("display:none;".when(arg.hide))">
		<label class="control-label">@arg.nicename</label>
		<div class="controls">
			<input name="@{arg.kind}-@{arg.name}" type="text"/>
			@if(arg.desc.length > 0){
				<span class="help-block">@arg.desc</span>
			}
		</div>
	</div>
	
}