@()

<script type="text/javascript">
// jQuery File Upload Plugin Localization
window.locale = {
    "fileupload": {
        "errors": {
            "maxFileSize": "File is too big",
            "minFileSize": "File is too small",
            "acceptFileTypes": "Filetype not allowed",
            "maxNumberOfFiles": "Max number of files exceeded",
            "uploadedBytes": "Uploaded bytes exceed file size",
            "emptyResult": "Empty file upload result"
        },
        "error": "Error",
        "start": "Start",
        "cancel": "Cancel",
        "destroy": "Delete"
    }
};
</script>

@helper.form(action = routes.Uploads.postUpload(), 'enctype -> "multipart/form-data", 'id -> "fileupload", 'class -> "form-horizontal"){
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="upload-button">Files</label>
			<div class="controls">
			    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
			    <div class="row fileupload-buttonbar">
			        <div class="span4">
			            <!-- The fileinput-button span is used to style the file input field as button -->
			            <span class="btn btn-success fileinput-button">
			                <i class="icon-plus icon-white"></i>
			                <span>Upload files from my computer</span>
			                <input type="file" name="files" multiple="" id="upload-button"/>
			            </span>
			        </div>
			        
			        <!-- The global progress information -->
			        <div aria-live="polite" class="span5 fileupload-progress fade">
			            <!-- The global progress bar -->
			            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			                <div class="bar" style="width:0%;"></div>
			            </div>
			            <!-- The extended global progress information -->
			            <div class="progress-extended">&nbsp;</div>
			        </div>
			    </div>
	    		<p class="help-block">
					If you need to upload lots of files or if you need to preserve the folder structure of your fileset, please compress your files as a ZIP archive before uploading them. ZIP files will be unzipped on the server.
					<!--<br/>Tip: in modern browsers you can drag and drop files from your desktop into the browser window. TODO:re-implement drag'n'drop-->
				</p>
			    
			    <!-- The table listing the files available for upload/download -->
			    <table aria-live="off" class="table table-striped" role="presentation"><tbody class="files"></tbody></table>
		    </div>
	    </div>
	</fieldset>
}

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" aria-valuetext="0%"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview"><!--<img src="{%=file.thumbnail_url%}"> TODO: different icons for different content types (set thumbnail_url server-side?)--></td>
            <td class="name">{%=file.name%}</td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
    </tr>
{% } %}
</script>

<script type="text/javascript">
	/* Instantiate file upload button. */
	$(function () {
		$(function(){
		    'use strict';
		    
		    // Initialize the jQuery File Upload widget:
		    $('#fileupload').fileupload();
			
	        // Settings:
	        $('#fileupload').fileupload('option', {
	            url: '@routes.Uploads.postUpload().absoluteURL(request)',
	            autoUpload: true
	        });
		});
	});
</script>