@(arg: org.daisy.pipeline.client.models.Argument, script: org.daisy.pipeline.client.models.Script, scriptId: String, mediaTypeBlacklist: List[String])

@if(arg.getSequence()==Boolean.TRUE){
	
	<div class="control-group @("advanced-argument".when(!arg.getRequired()))">
		<label class="control-label" id="script-@scriptId-@{arg.getName()}-label">@arg.getNicename()</label>
		<!-- TODO: add drag'n'drop support for reordering items? -->
		<div class="controls">
			<input type="hidden" name="@{arg.getName()}" id="script-@scriptId-@{arg.getName()}" value=""/>
			<div class="row-fluid">
				<div class="span6">
					<div style="display:table;">
					    <div style="display:table-row;">
					    	<div style="display:table-cell;">
								<label for="@{arg.getName()}-all" id="script-@scriptId-@{arg.getName()}-all-label">Uploaded files</label>
								<select style="width:100%;min-width:200px;" id="script-@scriptId-@{arg.getName()}-all" multiple="multiple" size="10" class="all-files" aria-labelledby="@{arg.getName()}-all-label @{arg.getName()}-label">
									<optgroup id="script-@scriptId-@{arg.getName()}-suggested" label="Suggested files"></optgroup>
									<optgroup id="script-@scriptId-@{arg.getName()}-other" label="Other files"></optgroup>
								</select>
							</div>
							<div style="display:table-cell;vertical-align:middle;min-width:40px;">
								<button type="button" id="script-@scriptId-@{arg.getName()}-add" class="btn" title="Add"><img src="@routes.Assets.versioned("images/glyphicons/glyphicons_211_right_arrow.png")" alt="Add"/></button><br/>
								<button type="button" id="script-@scriptId-@{arg.getName()}-remove" class="btn" title="Remove"><img src="@routes.Assets.versioned("images/glyphicons/glyphicons_210_left_arrow.png")" alt="Remove"/></button>
							</div>
						</div>
					</div>
				</div>
				<br class="visible-phone"/>
				<br class="visible-phone"/>
				<div class="span6 scrollable">
					<div style="display:table;">
					    <div style="display:table-row;">
					    	<div style="display:table-cell;">
								<label for="@{arg.getName()}-selected" id="script-@scriptId-@{arg.getName()}-selected-label">Selected files</label>
								<select style="width:100%;min-width:200px;" id="script-@scriptId-@{arg.getName()}-selected" multiple="multiple" size="10" aria-labelledby="@{arg.getName()}-selected-label @{arg.getName()}-label">
								</select>
							</div>
							<div style="display:table-cell;vertical-align:middle;min-width:40px;">
								@if(arg.getOrdered()==Boolean.TRUE){
									<button type="button" id="script-@scriptId-@{arg.getName()}-up" class="btn" title="Move up"><img src="@routes.Assets.versioned("images/glyphicons/glyphicons_213_up_arrow.png")" alt="Move up"/></button><br/>
									<button type="button" id="script-@scriptId-@{arg.getName()}-down" class="btn" title="Move down"><img src="@routes.Assets.versioned("images/glyphicons/glyphicons_212_down_arrow.png")" alt="Move down"/></button>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
			@if(arg.getDesc().length > 0){
				<span class="help-block">@arg.getDesc()</span>
			}
			
			<script type="text/javascript">
				$(function(){
					@if(arg.getOrdered()==Boolean.TRUE){
						/* Event handler for "move up"-button. */
						$("#script-@scriptId-@{arg.getName()}-up").click(function() {
							var options = "#script-@scriptId-@{arg.getName()}-selected option";
							for (var i = 1; i < $(options).size(); i++) {
								if (!$($(options)[i-1]).is(":selected") && $($(options)[i]).is(":selected")) {
									var top = $($(options)[i-1]);
									var bottom = $($(options)[i]);
									top.remove();
									bottom.after(top);
								}
							}
						});
						
						/* Event handler for "move down"-button. */
						$("#script-@scriptId-@{arg.getName()}-down").click(function() {
							var options = "#script-@scriptId-@{arg.getName()}-selected option";
							for (var i = $(options).size()-2; i >= 0; i--) {
								if (!$($(options)[i+1]).is(":selected") && $($(options)[i]).is(":selected")) {
									var top = $($(options)[i]);
									var bottom = $($(options)[i+1]);
									top.remove();
									bottom.after(top);
								}
							}
						});
					}
					
					/* Event handler for "add"-button. */
					$("#script-@scriptId-@{arg.getName()}-add").click(function() {
						$.each($("#script-@scriptId-@{arg.getName()}-all option:selected"), function(i,e){
							$(e).remove();
							$(e).appendTo($("#script-@scriptId-@{arg.getName()}-selected"));
						});
					});
					
					/* Event handler for "remove"-button. */
					$("#script-@scriptId-@{arg.getName()}-remove").click(function() {
						$.each($("#script-@scriptId-@{arg.getName()}-selected option:selected"), function(i,e){
							$(e).remove();
							if ($(e).hasClass("rightContentType"))
								$(e).appendTo($("#script-@scriptId-@{arg.getName()}-suggested"));
							else
								$(e).appendTo($("#script-@scriptId-@{arg.getName()}-other"));
							// TODO: instead of append; insert in sorted order according to fileName
						});
					});
					
					/* Event handler for fileset changes. */
					Job.onNewUpload(function(fileset){
						var contentTypes = @Html(play.libs.Json.stringify(play.libs.Json.toJson(arg.getMediaTypes())));
						for (var f = 0; f < fileset.length; f++) {
							var file = fileset[f];
							
							var matchingContentType = @arg.getMediaTypes().contains("application/xml") && file.isXML;
							
							@if(arg.getMediaTypes().length > 0){
								switch (file.contentType) {
									@for(contentType <- arg.getMediaTypes()){
									case "@contentType":
									}
										matchingContentType = true;
										break;
								}
							}
							
							@if(mediaTypeBlacklist.length > 0){
								switch (file.contentType) {
									@for(contentType <- mediaTypeBlacklist){
									case "@contentType":
									}
										matchingContentType = false;
										break;
								}
							}
							
							if (matchingContentType) {
								$("#script-@scriptId-@{arg.getName()}-selected").append($('<option class="rightContentType" value="'+file.fileName+'" title="'+file.fileName+'">'+file.fileName+'</option>')
								);
							} else {
								$("#script-@scriptId-@{arg.getName()}-other").append($('<option class="wrongContentType" value="'+file.fileName+'" title="'+file.fileName+'">'+file.fileName+'</option>')
								);
							}
							
							// TODO: instead of append; insert in sorted order according to fileName
						}
					});
					
					/* Prepare form widget for validation and submission */
					var beforeSubmit = function(){
						var value = [];
						$.each($("#script-@scriptId-@{arg.getName()}-selected option"), function(i, e) {
							value.push($(e).attr("value"));
						});
						$('#script-@scriptId-@{arg.getName()}').attr("value", value.join());
					}
					DP2Forms.beforeSubmit("script-@scriptId",beforeSubmit);
				});
			</script>
		</div>
	</div>
	
}else{
	
	<div class="control-group @("advanced-argument".when(!arg.getRequired()))">
		<label class="control-label" for="@{arg.getName()}">@arg.getNicename()</label>
		<div class="controls">
			<select name="@{arg.getName()}" id="script-@scriptId-@{arg.getName()}">
				<option value="" selected=""></option>
				<optgroup id="script-@scriptId-@{arg.getName()}-suggested" label="Supported files"></optgroup>
				<optgroup id="script-@scriptId-@{arg.getName()}-other" label="Other files"></optgroup>
			</select>
			@if(arg.getDesc().length > 0){
				<span class="help-block">@arg.getDesc()</span>
			}
			
			<script type="text/javascript">
				$(function(){
					/* Event handler for fileset changes. */
					Job.onNewUpload(function(fileset){
						var contentTypes = @Html(play.libs.Json.stringify(play.libs.Json.toJson(arg.getMediaTypes())));
						var selectedSomething = $("#script-@scriptId-@{arg.getName()} optgroup option").filter(":selected").size() > 0;
						console.log("file widget notified of new fileset: ", fileset);
						for (var f = 0; f < fileset.length; f++) {
							var file = fileset[f];
							
							var matchingContentType = @arg.getMediaTypes().contains("application/xml") && file.isXML;
							
							@if(arg.getMediaTypes().length > 0){
								switch (file.contentType) {
									@for(contentType <- arg.getMediaTypes()){
									case "@contentType":
									}
										matchingContentType = true;
										break;
								}
							}
							
							@if(mediaTypeBlacklist.length > 0){
								switch (file.contentType) {
									@for(contentType <- mediaTypeBlacklist){
									case "@contentType":
									}
										matchingContentType = false;
										break;
								}
							}
							
							if (matchingContentType) {
								if (!selectedSomething) {
									$("#script-@scriptId-@{arg.getName()}-suggested").append($('<option class="rightContentType" value="'+file.fileName+'" title="'+file.fileName+'" selected="">'+file.fileName+'</option>'));
								} else {
									$("#script-@scriptId-@{arg.getName()}-suggested").append($('<option class="rightContentType" value="'+file.fileName+'" title="'+file.fileName+'">'+file.fileName+'</option>'));
								}
							} else {
								$("#script-@scriptId-@{arg.getName()}-other").append($('<option class="wrongContentType" value="'+file.fileName+'" title="'+file.fileName+'">'+file.fileName+'</option>')
								);
							}
							
							// TODO: instead of append; insert in sorted order according to fileName
						}
					});
					
					/* Prepare and validate widget */
					var validator = function(){
						//TODO: validate #script-@scriptId-@{arg.getName()}
						
						var result = {valid: true, messages: []};
						
						@if(arg.getRequired()==Boolean.TRUE){
							if ($("#script-@scriptId-option-href option").filter(":selected").attr("value") === "") {
								result.valid = false;
								message.push({level: "error", text: "A file must be selected."});
							}
						}
						if ($("#script-@scriptId-option-href option").filter(":selected").hasClass("wrongContentType")) {
							message.push({level: "warning", text: "The file you selected is not supported. If you continue you may experience unexpected results."});
						}
						
						return result;
					}
					Job.onValidate(validator);
				});
			</script>
		</div>
	</div>
	
}