@(configureEmailForm: Form[controllers.Administrator.ConfigureEmailForm])

@main("First use", "", Array(), Array(), Array()){
    
    	<div class="page-header">
			<h1>Configure e-mail settings</h1>
       	</div>
     	
     	<p>Please configure the e-mail server that will be used for sending out e-mails. You may configure an SMTP server by entering its address, or use one of the presets.</p>
     	<hr/>
     	<br/>
     	
     	@if(flash.contains("error")) {
	        <div role="alert" class="alert alert-error">
	            @flash.get("error")
	        </div>
	    }
		
		@if(flash.contains("success")) {
		    <div role="alert" class="alert alert-success">
		        @flash.get("success")
		    </div>
		}
		
     	@views.html.Administrator.Forms.configureEmail(configureEmailForm, routes.FirstUse.postFirstUse(), routes.Application.index())
		
}