@(configureBrandingForm: Form[controllers.Administrator.ConfigureBrandingForm], route: play.api.mvc.Call, skipRoute: play.api.mvc.Call)

@helper.form(action = route) {
	
	<input type="hidden" name="formName" value="configureBranding"/>
    
    <fieldset>
          
        <div class="form-horizontal">
        	
        	<div class="control-group @("error".when(configureBrandingForm.error("title") != null))" id="configureBranding-titleGroup">
        		<label for="configureBranding-title" class="control-label">Title</label>
	            <div class="controls">
	        		<input type="text" name="title" id="configureBranding-title" class="input-xlarge"
	        			placeholder="&quot;@models.Setting.get("branding.title")&quot; is the current title of this website."
	        			value="@{if (configureBrandingForm.hasErrors()) configureBrandingForm.field("title").valueOr(""); else models.Setting.get("branding.title");}"
	        			onkeyup="if(this.value==='@models.Setting.get("branding.title")')document.getElementById('configureBranding-titleGroup').style.backgroundColor='#FFF';else document.getElementById('configureBranding-titleGroup').style.backgroundColor='#DDF';"/>
					@if(configureBrandingForm != null && configureBrandingForm.field("configureBranding-title").errors().size() > 0){
						<span class="help-inline">@configureBrandingForm.error("title").message</span>
					}
	            </div>
			</div>
        	
          	<div class="control-group @("error".when(configureBrandingForm.error("theme") != null))" id="configureBranding-themeGroup">
				<label class="control-label" id="configureBranding-theme-label" for="configureBranding-theme" aria-label="configureBranding-theme">Visual theme</label>
				<div class="controls" aria-role="radiogroup" aria-labelledby="configureBranding-theme-label" id="configureBranding-theme">
					<label class="radio">
						<input type="radio" name="theme" value="" @if(Setting.get("branding.theme") == ""){
							checked=""
						}/>
						Default
					</label>
					@for(theme <- controllers.Administrator.ConfigureBrandingForm.themes){
						<label class="radio">
							@if(Setting.get("branding.theme") == theme+"/"){
								<input type="radio" name="theme" value="@theme" checked=""/> <em>@theme</em>
							}else{
								<input type="radio" name="theme" value="@theme"/> @theme
							}
						</label>
					}
					@if(configureBrandingForm.field("theme").errors().size() > 0){
						<span class="help-inline">@configureBrandingForm.error("theme").message</span>
					}
				</div>
				<!-- TODO: link to guide on theming. -->
			</div>
			
			<div class="form-actions">
				<button class="btn btn-primary" id="submit" type="submit" name="submit">Ok, looks good</button>
				@if(skipRoute != null){
					<button class="btn" id="skip" type="button" name="skip" onclick="window.location='@routes.Application.index()';return false;">I'll configure it later <i class="icon-hand-right"></i></button>
				}
			</div>
			
		</div>
		
	</fieldset>

}