@(setWSForm: Form[controllers.Administrator.SetWSForm], route: play.api.mvc.Call, skipRoute: play.api.mvc.Call)

@helper.form(action = route) {
	
	<input type="hidden" name="formName" value="setWS"/>
	<input type="hidden" name="sameFilesystem" value="@(if(setWSForm!=null)setWSForm.field("sameFilesystem").valueOr("false") else "false")" id="setWS-sameFilesystem-value"/>
    
    <fieldset>
          
        <div class="form-horizontal">
        
          	<div class="control-group @("error".when(setWSForm.error("endpoint") != null))" id="setWS-endpointGroup">
				<label for="endpoint" class="control-label">Address</label>
				<div class="controls">
					<input type="text" name="endpoint" id="setWS-endpoint" placeholder="URL" class="input-xlarge"
							value="@setWSForm.field("endpoint").valueOr(if (Setting.get("dp2ws.endpoint")!=null) Setting.get("dp2ws.endpoint") else "http://localhost:8182/ws")"
							onkeyup="if(@{models.Setting.get("dp2ws.endpoint")==null} || this.value==='@models.Setting.get("dp2ws.endpoint")')document.getElementById('setWS-endpointGroup').style.backgroundColor='#FFF';else document.getElementById('setWS-endpointGroup').style.backgroundColor='#DDF';"
					/>
					@if(setWSForm.field("endpoint").errors().size() > 0){
						<span class="help-inline">A valid URL must be provided.</span>
					}
				</div>
			</div>
			
			<div class="control-group @("error".when(setWSForm.error("authid") != null))" id="setWS-authidGroup">
				<label for="authid" class="control-label">Authentication ID</label>
				<div class="controls">
					<input type="text" autocomplete="off" name="authid" id="setWS-authid" placeholder="Authentication ID" class="input-xlarge"
							value="@setWSForm.field("authid").valueOr(models.Setting.get("dp2ws.authid"))"
							onkeyup="if(@{models.Setting.get("dp2ws.authid")==null} || this.value==='@models.Setting.get("dp2ws.authid")')document.getElementById('setWS-authidGroup').style.backgroundColor='#FFF';else document.getElementById('setWS-authidGroup').style.backgroundColor='#DDF';"
					/>
					@if(setWSForm.field("authid").errors().size() > 0){
						<span class="help-inline">A valid authentication id must be provided.</span>
					}
					<span class="help-block">When communicating with the Pipeline 2 framework, the Web UI needs to authenticate. This authentication id is not to be confused with the user accounts listed under "Users and Permissions".</span>
				</div>
			</div>
			
			<div class="control-group @("error".when(setWSForm.error("secret") != null))" id="setWS-secretGroup">
				<label for="secret" class="control-label">Secret text</label>
				<div class="controls">
					<input type="password" autocomplete="off" name="secret" id="setWS-secret" value=""
							placeholder="@if(models.Setting.get("dp2ws.secret")==null){Secret text}else{**********}" class="input-xlarge"
							onkeyup="if(@{models.Setting.get("dp2ws.secret")==null} || this.value==='')document.getElementById('setWS-secretGroup').style.backgroundColor='#FFF';else document.getElementById('setWS-secretGroup').style.backgroundColor='#DDF';"
					/>
					@if(setWSForm.field("secret").errors().size() > 0){
						<span class="help-inline">A valid secret text must be provided.</span>
					}
					<span class="help-block">The password corresponding to the authentication id.</span>
				</div>
			</div>
			
			<div class="control-group @("error".when(setWSForm.error("resultDir") != null))" id="setWS-resultDirGroup">
				<label for="tempDir" class="control-label">Result directory</label>
				<div class="controls">
					<input type="text" autocomplete="off" name="resultDir" id="setWS-resultDir" placeholder="Temporary directory path" class="input-xlarge"
							value="@setWSForm.field("resultDir").valueOr(if (Setting.get("dp2ws.resultDir") != null) Setting.get("dp2ws.resultDir") else System.getProperty("user.dir") + System.getProperty("file.separator") + "local.results" + System.getProperty("file.separator"))"
							onkeyup="if(@{models.Setting.get("dp2ws.resultDir")==null} || this.value==='@models.Setting.get("dp2ws.resultDir")')document.getElementById('setWS-resultDirGroup').style.backgroundColor='#FFF';else document.getElementById('setWS-resultDirGroup').style.backgroundColor='#DDF';"
					/>
					@if(setWSForm.field("resultDir").errors().size() > 0){
						<span class="help-inline">A valid result directory path must be provided.</span>
					}
					<span class="help-block">If Pipeline 2 is running in local mode then you need to provide a filesystem path where the results (the output of a job) will be stored. The path is relative to the filesystem of the Pipeline 2 framework which might be different than the filesystem of the Web UI if the Pipeline 2 framework and the Web UI are running on different servers. <em>If Pipeline 2 is running in remote mode you can ignore this setting.</em></span>
				</div>
			</div>
			
			<div class="control-group @("error".when(setWSForm.error("tempDir") != null))" id="setWS-tempDirGroup">
				<label for="tempDir" class="control-label">Temporary directory</label>
				<div class="controls">
					<input type="text" autocomplete="off" name="tempDir" id="setWS-tempDir" placeholder="Temporary directory path" class="input-xlarge"
							value="@setWSForm.field("tempDir").valueOr(if (Setting.get("dp2ws.tempDir") != null) Setting.get("dp2ws.tempDir") else System.getProperty("user.dir") + System.getProperty("file.separator") + "local.temp" + System.getProperty("file.separator"))"
							onkeyup="if(@{models.Setting.get("dp2ws.tempDir")==null} || this.value==='@models.Setting.get("dp2ws.tempDir")')document.getElementById('setWS-tempDirGroup').style.backgroundColor='#FFF';else document.getElementById('setWS-tempDirGroup').style.backgroundColor='#DDF';"
					/>
					@if(setWSForm.field("tempDir").errors().size() > 0){
						<span class="help-inline">A valid temporary directory path must be provided.</span>
					}
					<span class="help-block">This is a directory similar to the temporary directory above, but are used for temporary files. Jobs may need to store some temporary files here while running. The temporary files are deleted automatically when the job is finished. This directory is also relative to the Pipeline 2 frameworks filesystem. <em>If Pipeline 2 is running in remote mode you can ignore this setting.</em></span>
				</div>
			</div>
			
			<div class="control-group @("error".when("tab" == "new" && setWSForm != null && setWSForm.error("admin") != null))" id="setWS-sameFilesystemGroup">
				<label class="control-label" id="setWS-sameFilesystem-label" for="sameFilesystem" aria-label="sameFilesystem">Same filesystem</label>
				<div class="controls">
					<div class="btn-group" data-toggle="buttons-radio" aria-role="radiogroup" aria-labelledby="setWS-sameFilesystem-label" id="sameFilesystem">
						<button type="button" name="setWS-sameFilesystem-on" class="btn @("active".when(setWSForm != null && setWSForm.field("sameFilesystem").valueOr(Setting.get("dp2ws.sameFilesystem"))=="true"))" id="setWS-sameFilesystem-on"
							aria-role="radio" aria-checked="@((setWSForm != null && setWSForm.field("sameFilesystem").valueOr(Setting.get("dp2ws.sameFilesystem"))=="true"))"
							onclick="toggleRadio('setWS-sameFilesystem', true, 'true');return false;">Yes</button>
						<button type="button" name="setWS-sameFilesystem-off" class="btn @("active".when(setWSForm != null && setWSForm.field("sameFilesystem").valueOr(Setting.get("dp2ws.sameFilesystem"))=="false" || setWSForm.field("sameFilesystem").valueOr(Setting.get("dp2ws.sameFilesystem"))==null))" id="setWS-sameFilesystem-off"
							aria-role="radio" aria-checked="@((setWSForm == null || setWSForm.field("sameFilesystem").valueOr(Setting.get("dp2ws.sameFilesystem"))=="false" || setWSForm.field("sameFilesystem").valueOr(Setting.get("dp2ws.sameFilesystem"))==null))"
							onclick="toggleRadio('setWS-sameFilesystem', false, 'false');return false;">No</button>
					</div>
					@if("tab" == "new" && setWSForm != null && setWSForm.field("sameFilesystem").errors().size() > 0){
						<span class="help-inline">@setWSForm.error("sameFilesystem").message</span>
					}
					<span class="help-block">Whether or not the Pipeline 2 framework is running on the same server as the Web UI. If they are running on the same server, then the uploaded files are handed over more efficiently to the Pipeline 2 framework. <em>If Pipeline 2 is running in remote mode then this setting must be set to false.</em></span>
				</div>
			</div>
			
			<div class="form-actions">
				<button class="btn btn-primary" id="submit" type="submit" name="submit">Ok, looks good</button>
				@if(skipRoute != null){
					<button class="btn" id="skip" type="button" name="skip" onclick="window.location='@routes.Administrator.getSettings()';return false;">I'll configure it later <i class="icon-hand-right"></i></button>
				}
			</div>
			
		</div>
		
	</fieldset>

}