@(setStorageDirsForm: Form[controllers.Administrator.SetStorageDirsForm])

@main("First use"){
	
	<div class="horizontally-centered">
	
	  	<div class="page-header">
	  		<hgroup>
	       		<h1 class="showin-localMode" style="display:none;">Set the storage directories</h1>
	       		<h1 class="showin-remoteMode">Set the directory for uploads</h1>
	       	</hgroup>
	    </div>
	    
	    @if(flash.contains("error")) {
	        <div role="alert" class="alert alert-error">
	        	<a class="close" data-dismiss="alert">&times;</a>
	            @flash.get("error")
	        </div>
	    }
	    
	    @if(flash.contains("success")) {
	        <div role="alert" class="alert alert-success">
	        	<a class="close" data-dismiss="alert">&times;</a>
	            @flash.get("success")
	        </div>
	    }
	    
	    <div>
	    	<p class="showin-localMode" style="display:none;">Depending on the number of users and the type of usage (especially when producing audio books), the file storage areas may grow large. Please make sure that you have enough free space on your file system.</p>
	    	<p class="showin-remoteMode">Depending on the number of users and the type of usage (especially when producing audio books), the upload directory may grow large. Please make sure that you have enough free space on your file system.</p>
	  	</div>
	  	<hr/>
	    
	    <script type="text/javascript">
	  		$(function(){ DP2Forms.startValidation("setStorageDirs", "@routes.FirstUse.postFirstUse()?validate", ["uploaddir","resultdir","tempdir"]); });
		</script>
		@views.html.Administrator.Forms.setStorageDirs(setStorageDirsForm, routes.FirstUse.postFirstUse(), null, true)
		
		<script type="text/javascript">
			function firstUseSetStorageDirsOnEngineUpdate(engine) {
				if (typeof engine !== "object" || engine === null)
					return;
				if (engine.mode==="LOCAL") {
					$(".showin-localMode").show();
					$(".showin-remoteMode").hide();
				} else {
					$(".showin-remoteMode").show();
					$(".showin-localMode").hide();
				}
			}
			firstUseSetStorageDirsOnEngineUpdate(@Html(play.libs.Json.toJson(controllers.Application.getAlive())+""));
			$(function(){
				Notifications.listen("dp2.engine", firstUseSetStorageDirsOnEngineUpdate);
			});

		</script>
		
	</div>
	
}