@(setWSForm: Form[controllers.Administrator.SetWSForm])

@main("First use"){
	
	<div class="horizontally-centered">
		
	  	<div class="page-header">
	  		<hgroup>
	       		<h1>Connect to the Pipeline 2 Web API</h1>
	   		</hgroup>
	    </div>
	  	
	    @if(flash.contains("error")) {
	        <div role="alert" class="alert alert-error">
	        	<a class="close" data-dismiss="alert">&times;</a>
	            @flash.get("error")
	        </div>
	    }
	    
	    @if(flash.contains("success")) {
	        <div role="alert" class="alert alert-success">
	        	<a class="close" data-dismiss="alert">&times;</a>
	            @flash.get("success")
	        </div>
	    }
	    
	  	<div style="text-align:left;">
		 	<p>Please enter the Web API address for the Pipeline 2 Engine below.
		 	   If you have not yet installed the Pipeline 2 Engine, please download and install the latest version from the
		 	   <a href="http://www.daisy.org/pipeline2" target="_blank">DAISY Pipeline 2 homepage</a>.</p>
	  	</div>
	  	<hr/>
	  	
	  	<script type="text/javascript">
	  		$(function(){ DP2Forms.startValidation("setWS", "@routes.FirstUse.postFirstUse()?validate", ["endpoint","authid","secret"]); });
		</script>
	  	@views.html.Administrator.Forms.setWS(setWSForm, routes.FirstUse.postFirstUse(), null, true)
		
	</div>

}