@(form: Form[controllers.Login.LoginForm])

@main("Sign in", "login") {
	
	@helper.form(action = routes.Login.authenticate()) {
		
		@if(flash.contains("success")) {
			<div role="alert" class="alert alert-success">
				<button class="close" data-dismiss="alert">×</button>
				@flash.get("success")
			</div>
		}
		
		@if(flash.contains("error")) {
			<div role="alert" class="alert alert-error">
				<button class="close" data-dismiss="alert">×</button>
				@flash.get("error")
			</div>
		}
		
		@if(!flash.contains("error") && !flash.contains("success") && form.hasGlobalErrors) {
			<div role="alert" class="alert alert-error">
				<button class="close" data-dismiss="alert">×</button>
				@form.globalError.message
			</div>
		}
		
		<div class="form-horizontal">
			<fieldset>
				<legend>Sign in</legend>
				<div class="control-group">
					<label for="email" class="control-label">E-mail</label>
					<div class="controls">
						<input type="email" name="email" id="email" placeholder="e-mail" class="input-xlarge" value="@form("email").value"/>
					</div>
				</div>
				
				<div class="control-group">	
					<label for="password" class="control-label">Password</label>
					<div class="controls">
						<input type="password" name="password" id="password" placeholder="Password" class="input-xlarge"/>
						<span class="help-inline">Forgot your password?
							<button type="button" class="btn" id="submitLostPassword" name="submitLostPassword" onclick="window.location='@routes.Login.resetPassword()?email='+$('#email').val();return false;">Get a new one!</button></span>
					</div>
				</div>
				
				<div class="form-actions" style="text-align: right;">
					<span style="float: left;"><button type="submit" class="btn btn-primary btn-large" id="submit" name="submit">Login</button></span>
					@if(Setting.get("guest.allowGuests") == "true"){
						<span>
							Don't have an account? &nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-large" id="guest-login" name="guest-login" onclick="window.location='@routes.Login.authenticateGuest()';return false;">Log in as guest <i class="icon-hand-right"></i></button>
						</span>
					}
			 	</div>
				
			</fieldset>
		</div>
	}
}