@(createAdminForm: Form[controllers.Administrator.CreateAdminForm], route: play.api.mvc.Call)

@helper.form(action = route) {
    
    <input type="hidden" name="formName" value="createAdmin"/>
    
    <fieldset style="text-align:center;">
    	
     	<div class="dp2-form @("error".when(createAdminForm.error("email") != null))">
     		<div class="dp2-form-label">
     			<div class="dp2-form-content">
					<label for="email" class="control-label">E-mail</label>
				</div>
			</div>
			<div class="dp2-form-input">
				<div class="dp2-form-content">
					<input type="email" name="email" id="email" placeholder="Valid e-mail address required." class="input-xlarge" value="@createAdminForm.field("email").valueOr("")"/>
					@if(createAdminForm.field("email").errors().size() > 0){
						@if(createAdminForm.error("email").message.startsWith("error.")){
							<span class="help-inline">A valid e-mail address must be provided.</span>
						}else{
							<span class="help-inline">@createAdminForm.error("email").message</span>
						}
					}
				</div>
			</div>
			<div class="dp2-form-br"></div>
		</div>
		
		<div class="dp2-form @("error".when(createAdminForm.error("password") != null))">
			<div class="dp2-form-label">
     			<div class="dp2-form-content">
     				<label for="password" class="control-label">Password</label>
 				</div>
			</div>
			<div class="dp2-form-input">
				<div class="dp2-form-content">
					<input type="password" name="password" id="password" placeholder="A password must be at least 6 characters." class="input-xlarge"/>
					@if(createAdminForm.field("password").value() != null && createAdminForm.field("password").valueOr("").length() < 6){
						<span class="help-inline">The password must contain at least 6 characters.</span>
					}
				</div>
			</div>
			<div class="dp2-form-br"></div>
		</div>
		
		<div class="dp2-form @("error".when(createAdminForm.error("repeatPassword") != null))">
			<div class="dp2-form-label">
     			<div class="dp2-form-content">
     				<label for="repeatPassword" class="control-label">Repeat password</label>
 				</div>
			</div>
			<div class="dp2-form-input">
				<div class="dp2-form-content">
					<input type="password" name="repeatPassword" id="repeatPassword" placeholder="Please repeat your password." class="input-xlarge"/>
					@if(createAdminForm.field("repeatPassword").errors().size() > 0){
						<span class="help-inline">@createAdminForm.error("repeatPassword").message</span>
					}
				</div>
			</div>
			<div class="dp2-form-br"></div>
		</div>
		
		<br/>
		<button class="btn btn-primary btn-large" id="submit" type="submit" name="submit">Save and continue</button>
			
	</fieldset>
}