@(setStorageDirsForm: Form[controllers.Administrator.SetUploadDirForm], route: play.api.mvc.Call, skipRoute: play.api.mvc.Call)

@helper.form(action = route) {
	
	<input type="hidden" name="formName" value="setStorageDirs"/>
	
   	<fieldset style="text-align:center;">
		
		<div class="dp2-form @("error".when(setStorageDirsForm.error("uploaddir") != null))" id="setStorageDirs-uploaddirGroup">
			<div class="dp2-form-label">
     			<div class="dp2-form-content">
					<label for="uploaddir" class="control-label">Upload directory</label>
				</div>
			</div>
			<div class="dp2-form-input">
				<div class="dp2-form-content">
					<input type="text" name="uploaddir" id="uploaddir" placeholder="URL" class="input-xlarge"
							value="@setStorageDirsForm.field("uploaddir").valueOr(if (Setting.get("uploads") != null) Setting.get("uploads") else System.getProperty("user.dir") + System.getProperty("file.separator") + "uploads" + System.getProperty("file.separator"))"
							onkeyup="if(@{models.Setting.get("uploads")==null} || this.value==='@models.Setting.get("uploads")')document.getElementById('setStorageDirs-uploaddirGroup').style.backgroundColor='#FFF';else document.getElementById('setStorageDirs-uploaddirGroup').style.backgroundColor='#DDF';"
					/>
					@if(models.Setting.get("uploads")==null){
						<span class="help-inline">The upload directory is not set, a suggestion is provided.</span>
					}
					@if(setStorageDirsForm.field("uploaddir").errors().size() > 0){
						@if(setStorageDirsForm.field("uploaddir").errors().get(0).message().startsWith("error.")){
							<span class="help-inline">A valid filesystem path must be provided.</span>
						}else{
							<span class="help-inline">@setStorageDirsForm.field("uploaddir").errors().get(0).message()</span>
						}
					}
				</div>
			</div>
			<div class="dp2-form-br"></div>
		</div>
		
		<br/>
		@if(skipRoute != null){
			<div class="split">
	     		<div class="split-left">
	     			<div class="split-content" style="text-align:right;">
						<button class="btn btn-primary" id="submit" type="submit" name="submit">Save Settings</button>
					</div>
				</div>
				<div class="split-right">
					<div class="split-content" style="text-align:left;">
						<button class="btn" id="skip" type="button" name="skip" onclick="window.location='@routes.Application.index()';return false;">I'll configure it later <i class="icon-hand-right"></i></button>
					</div>
				</div>
				<div class="split-br"></div>
			</div>
		}else{
			<button class="btn btn-primary" id="submit" type="submit" name="submit">Save Settings</button>
		}
		
	</fieldset>
}