@(setVisualThemeForm: Form[controllers.Administrator.SetVisualThemeForm], route: play.api.mvc.Call, skipRoute: play.api.mvc.Call)

@helper.form(action = route) {
	
	<input type="hidden" name="formName" value="setVisualTheme"/>
    
    <fieldset>
          
        <div class="form-horizontal">
        
          	<div class="control-group @("error".when(setVisualThemeForm.error("theme") != null))" id="setVisualTheme-themeGroup">
				<label class="control-label">Visual theme</label>
				<div class="controls">
					<label class="radio">
						<input type="radio" name="theme" value="" @if(Setting.get("theme") == ""){
							checked=""
						}/>
						Default
					</label>
					@for(theme <- controllers.Administrator.SetVisualThemeForm.themes){
						<label class="radio">
							<input type="radio" name="theme" value="@theme" @if(Setting.get("theme") == theme+"/"){
								checked=""
							}/>
							@theme
						</label>
					}
					@if(setVisualThemeForm.field("theme").errors().size() > 0){
						<span class="help-inline">@setVisualThemeForm.error("theme").message</span>
					}
				</div>
			</div>
			
			<div class="form-actions">
				<button class="btn btn-primary" id="submit" type="submit" name="submit">Ok, looks good</button>
				@if(skipRoute != null){
					<button class="btn" id="skip" type="button" name="skip" onclick="window.location='@routes.Application.index()';return false;">I'll configure it later <i class="icon-hand-right"></i></button>
				}
			</div>
			
		</div>
		
	</fieldset>

}