@(setWSForm: Form[controllers.Administrator.SetWSForm], route: play.api.mvc.Call, skipRoute: play.api.mvc.Call, autofocus: Boolean)

@helper.form(action = route) {
	
	<input type="hidden" name="formName" value="setWS"/>
    
    <fieldset style="text-align:center;">
    
		<div id="setWS-defaultEndpoints"></div>
    	
      	<div class="control-group dp2-form @("error".when(setWSForm.error("endpoint") != null))" id="setWS-endpointGroup">
     		<div class="dp2-form-label">
     			<div class="dp2-form-content">
					<label for="endpoint" class="control-label">Address</label>
				</div>
			</div>
			<div class="dp2-form-input">
				<div class="dp2-form-content">
					<input @if(autofocus){autofocus="autofocus"} type="text" name="endpoint" id="setWS-endpoint" placeholder="URL" class="input-xlarge"
							value="@setWSForm.field("endpoint").valueOr(if (Setting.get("dp2ws.endpoint")!=null) Setting.get("dp2ws.endpoint") else "")"
							onkeyup="if(@{models.Setting.get("dp2ws.endpoint")==null} || this.value==='@models.Setting.get("dp2ws.endpoint")')document.getElementById('setWS-endpointGroup').style.backgroundColor='#FFF';else document.getElementById('setWS-endpointGroup').style.backgroundColor='#DDF';"
					/>
					<img id="setWS-endpoint-success" src="@routes.Assets.at("images/DONE.png")" alt="" style="padding-top: 8px;margin-top:0px;vertical-align:top;display:none;"/>
					<div id="setWS-URLtester" class="help-block">
						<span id="setWS-URLtester-message">@if(setWSForm.field("endpoint").errors().size() > 0){A valid URL must be provided.}</span>
						<script type="text/javascript">
							tried = {
								"@setWSForm.field("endpoint").valueOr(if (Setting.get("dp2ws.endpoint")!=null) Setting.get("dp2ws.endpoint") else "")": @Html(play.libs.Json.toJson(controllers.Alive.statusMap("probeEngine",setWSForm.field("endpoint").valueOr(if (Setting.get("dp2ws.endpoint")!=null) Setting.get("dp2ws.endpoint") else ""))).get("probeEngine")+"")
							};
							tried["@setWSForm.field("endpoint").valueOr(if (Setting.get("dp2ws.endpoint")!=null) Setting.get("dp2ws.endpoint") else "")"].time = new Date().getTime();
							defaults = {
								"http://localhost:8181/ws": {time:0},
								"http://localhost:8182/ws": {time:0}
							};
							$(function(){
								setInterval(function(){
									var url = $("#setWS-endpoint")[0].value;
									if (url !== "" && (typeof tried[url] === "undefined" || new Date().getTime() - tried[url].time > 30000)) {
										$("#setWS-URLtester-message").html("Testing URL...");
										$("#setWS-URLtester-message").css("color","black");
										$("#setWS-URLtester-message").data("url",url);
										$("#setWS-endpointGroup").removeClass("success");
										$("#setWS-endpoint-success").hide();
										$("#setWS-URLtester-message").data("success",false);
										$.getJSON("@routes.Alive.status()?probeEngine="+encodeURIComponent(url), function(data,textStatus,jqXHR){
											tried[data["probeEngine.url"]] = data["probeEngine"];
										});
										setWS_updateWidgets(null);
									}
									if (url !== "" && typeof tried[url] !== "undefined" && typeof $("#setWS-URLtester-message").data("success") !== "undefined") {
										if (tried[url].error) {
											$("#setWS-URLtester-message").html(tried[url].message);
											$("#setWS-URLtester-message").css("color","black");
											$("#setWS-URLtester-message").data("url",url);
											$("#setWS-endpointGroup").removeClass("success");
											$("#setWS-endpoint-success").hide();
											$("#setWS-URLtester-message").data("success",false);
											setWS_updateWidgets(null);
										} else {
											if (!$("#setWS-URLtester-message").data("success")) {
												$("#setWS-URLtester-message").html("A Pipeline 2 Engine version "+tried[url].version+" is running at the given URL. It is running in "+(tried[url].mode==="LOCAL"?"local":"server")+" mode and "+(tried[url].authentication?"requires":"does not require")+" authentication.");
												$("#setWS-URLtester-message").css("color","");
												$("#setWS-URLtester-message").data("url",url);
												$("#setWS-endpointGroup").removeClass("error").addClass("success");
												$("#setWS-endpoint-success").show();
												$("#setWS-URLtester-message").data("success",true);
												setWS_updateWidgets(tried[url]);
											}
										}
									}
									
									for (url in defaults) {
										if (new Date().getTime() - defaults[url].time > 30000) {
											defaults[url].time = new Date().getTime();
											$.getJSON("@routes.Alive.status()?probeEngine="+encodeURIComponent(url), function(data,textStatus,jqXHR){
												defaults[data["probeEngine.url"]] = data["probeEngine"];
												if (data.probeEngine.error === false) {
													var p = $("#setWS-defaultEndpoints > p").filter(function(i){
														return $(this).data("url") === data["probeEngine.url"];
													})[0];
													if (typeof p === "undefined") {
														p = $("<p></p>");
														$("#setWS-defaultEndpoints").append(p);
													}
													var newP = $(
														'<p>'+
														'	A Pipeline 2 Engine is running at <code>'+data["probeEngine.url"]+'</code>.'+
														'	&nbsp; <a class="btn btn-primary" onclick="document.getElementById(\'setWS-endpoint\').value=\''+data["probeEngine.url"]+'\';$(this).hide(400);return false;">Use it</a>'+
														'</p>'
													);
													$(newP).data("url",data["probeEngine.url"]);
													$(p).replaceWith(newP);
												}
											});
											break;
										}
									}
									$("#setWS-defaultEndpoints > p").each(function(i,e){
										if ($(this).data("url") !== $("#setWS-endpoint")[0].value)
											$(this).find("a.btn").show(400);
										else
											$(this).find("a.btn").hide(400);
									});
									
								},1000);
							});
							$(function(){
								setWS_updateWidgets(tried["@setWSForm.field("endpoint").valueOr(if (Setting.get("dp2ws.endpoint")!=null) Setting.get("dp2ws.endpoint") else "")"]);
							});
							function setWS_updateWidgets(engine) {
								if (engine === null || engine.error || !engine.authentication) {
									$("#setWS-secretGroup").hide(400);
									setTimeout(function(){$("#setWS-authidGroup").hide(400);},400);
								} else {
									$("#setWS-authidGroup").show(400);
									setTimeout(function(){$("#setWS-secretGroup").show(400);},400);
								}
							}
							
						</script>
					</div>
				</div>
			</div>
			<div class="dp2-form-br"></div>
		</div>
		
		<div class="control-group dp2-form @("error".when(setWSForm.error("authid") != null))" id="setWS-authidGroup" style="display:none;">
     		<div class="dp2-form-label">
     			<div class="dp2-form-content">
					<label for="authid" class="control-label">Authentication ID</label>
				</div>
			</div>
			<div class="dp2-form-input">
				<div class="dp2-form-content">
					<input type="text" autocomplete="off" name="authid" id="setWS-authid" placeholder="Authentication ID" class="input-xlarge"
							value="@setWSForm.field("authid").valueOr(models.Setting.get("dp2ws.authid"))"
							onkeyup="if(@{models.Setting.get("dp2ws.authid")==null} || this.value==='@models.Setting.get("dp2ws.authid")')document.getElementById('setWS-authidGroup').style.backgroundColor='#FFF';else document.getElementById('setWS-authidGroup').style.backgroundColor='#DDF';"
					/>
					@if(setWSForm.field("authid").errors().size() > 0){
						<span class="help-inline">A valid authentication id must be provided.</span>
					}
					<p class="help-block">This Pipeline 2 Engine requires authentication. The authentication ID is not to be confused with the user accounts in the Web UI.</p>
					<p class="help-block">The authentication ID and secret token were configured during the installation of the Pipeline engine.
	  		   			To learn more about Pipeline 2's Web API authentication, please refer to the
	  		   			<a href="http://code.google.com/p/daisy-pipeline/wiki/UserGuideIntro" target="_blank">Pipeline 2 User Guide</a>.</p>
				</div>
			</div>
			<div class="dp2-form-br"></div>
		</div>
		
		<div class="control-group dp2-form @("error".when(setWSForm.error("secret") != null))" id="setWS-secretGroup" style="display:none;">
     		<div class="dp2-form-label">
     			<div class="dp2-form-content">
					<label for="secret" class="control-label">Secret token</label>
				</div>
			</div>
			<div class="dp2-form-input">
				<div class="dp2-form-content">
					<input type="password" autocomplete="off" name="secret" id="setWS-secret" value=""
							placeholder="@if(models.Setting.get("dp2ws.secret")==null){Secret token}else{**********}" class="input-xlarge"
							onkeyup="if(@{models.Setting.get("dp2ws.secret")==null} || this.value==='')document.getElementById('setWS-secretGroup').style.backgroundColor='#FFF';else document.getElementById('setWS-secretGroup').style.backgroundColor='#DDF';"
					/>
					@if(setWSForm.field("secret").errors().size() > 0){
						<span class="help-inline">A valid secret token must be provided.</span>
					}
					<span class="help-block">The secret token corresponding to the authentication ID.</span>
				</div>
			</div>
			<div class="dp2-form-br"></div>
		</div>
		
		<br/>
		@if(skipRoute != null){
			<div class="split">
	     		<div class="split-left">
	     			<div class="split-content" style="text-align:right;">
						<button class="btn btn-primary" id="submit" type="submit" name="submit">Save and Continue</button>
					</div>
				</div>
				<div class="split-right">
					<div class="split-content" style="text-align:left;">
						<button class="btn" id="skip" type="button" name="skip" onclick="window.location='@routes.Administrator.getSettings()';return false;">Skip Configuration <i class="icon-hand-right"></i></button>
					</div>
				</div>
				<div class="split-br"></div>
			</div>
		}else{
			<button class="btn btn-primary" id="submit" type="submit" name="submit">Save and Continue</button>
		}
		
	</fieldset>

}