@()

@main("About", "about") {

<div class="page-header">
    <h1>About the DAISY Pipeline 2</h1>
</div>

<p>The DAISY Pipeline 2 is an ongoing project to develop a next generation framework for automated production of accessible materials for people with print disabilities. It is the follow-up and total redesign of the original DAISY Pipeline 1 project.</p>

<p>The overarching principle of the Pipeline 2 is to adopt recent platform-neutral standards (and off-the-shelf implementations of those standards) at the heart of a comprehensive framework, which will:</p>

<ul>
    <li>minimize the development and maintenance cost, allowing developers to ultimately focus more on actual transformations rather than the engine that drives the transformations.</li>
    <li>lower the framework learning curve</li>
    <li>increase interoperability with the heterogeneous production workflows</li>
    <li>increase the likelihood of re-use in both open source and commercial applications.</li>
</ul>

<p>For more information on the Pipeline 2 development, please see:</p>

<ul>
    <li>A Pipeline 2 <a href="/pipeline2/overview">Overview</a></li>
    <li>The Pipeline 2 <a href="http://code.google.com/p/daisy-pipeline/wiki/ProjectCharter">project charter</a></li>
    <li>The Pipeline 2 <a href="http://code.google.com/p/daisy-pipeline/">development site</a>, hosted on Google Code</li>
    <li>The Pipeline 2 <a href="http://code.google.com/p/daisy-pipeline/wiki/UserGuideIntro">user guide</a> (draft), on the development wiki</li>
</ul>

<div class="well">
	<em>Pipeline 2 Web UI version: 1.3.1</em>
</div>

}
