@(title: String, nav: String = "", moreScripts: Array[String] = Array(), moreStyles: Array[String] = Array(), navs: Array[String] = Array("scripts", "jobs", "about", "admin", "account", "login", "shutdown"))(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
	<title>@Setting.get("appearance.title")</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Web interface for Pipeline 2">
	<meta name="author" content="DAISY Consortium">
	
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
	
	<!-- Styles -->
	<link href="@routes.Application.theme("stylesheets/bootstrap.min.css")?@Application.themeName()" rel="stylesheet" type="text/css"/>
	@for(style <- moreStyles) {
		<link href="@routes.Application.theme("stylesheets/"+style)?@Application.themeName()" rel="stylesheet" type="text/css"/>
	}
	<link href="@routes.Application.theme("stylesheets/main.min.css")?@Application.themeName()" rel="stylesheet" type="text/css"/>
	
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Icons -->
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
	<!--<link rel="apple-touch-icon" href="routes.Assets.at("images/apple-touch-icon.png")"/>
	<link rel="apple-touch-icon" sizes="72x72" href="routes.Assets.at("images/apple-touch-icon-72x72.png")"/>
	<link rel="apple-touch-icon" sizes="114x114" href="routes.Assets.at("images/apple-touch-icon-114x114.png")"/>-->
	
	<!-- Load jQuery before the content (so other templates may use jQuery) -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript">
		if (typeof jQuery == 'undefined') {
			document.write(unescape("%3Cscript src='@routes.Assets.at("javascripts/jquery-1.9.1.min.js")' type='text/javascript'%3E%3C/script%3E"));
		}
	</script>
  </head>
	
  <body class="body" data-spy="scroll" data-target=".subnav" data-offset="50">
  	
	<div class="navbar navbar-inverse navbar-fixed-top">
	   	<div class="navbar-inner">
	   		<div class="container">
	   			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </a>
                @if(Controller.flash("shutdown")=="true"){
	            	<span class="brand">@Setting.get("appearance.title")</span>
	            }else{
	   				<a class="brand" href="@routes.Application.index()">@Setting.get("appearance.title")</a>
	   			}
	   			<nav class="nav-collapse">
		   			<ul class="nav">
		   				@if(models.User.parseUserId(session()) != null){
		   					@if(navs.contains("scripts")){
			   					<li class="@("active".when(nav == "scripts"))"><a href="@routes.Jobs.newJob()"><i class="icon-plus icon-white"></i> Create Job</a></li>
			   				}
		   				}
		   				@if(models.User.parseUserId(session()) != null && (models.User.parseUserId(session()) >= 0 || Setting.get("users.guest.shareJobs") == "true")){
			   				@if(navs.contains("jobs")){
			 					<li class="@("active".when(nav == "jobs"))"><a href="@routes.Jobs.getJobs()"><i class="icon-tasks icon-white"></i> Jobs</a></li>
			 				}
		 				}
		 				@if(navs.contains("about")){
		 					<li class="@("active".when(nav == "about"))"><a href="@routes.Application.about()"><i class="icon-info-sign icon-white"></i> About</a></li>
	  					}
		   			</ul>
		   			<ul class="nav pull-right">
		   				@if(session.get("admin")=="true"){
		   					@if(navs.contains("admin")){
		 						<li class="@("active".when(nav == "admin"))"><a href="@routes.Administrator.getSettings()"><i class="icon-wrench icon-white"></i> 
		 							@if(controllers.Application.deployment()=="desktop"){ Settings }else{ Admin settings }
		 						</a></li>
		 					}
		 				}
		 				@if(controllers.Application.deployment()=="server" && models.User.parseUserId(session()) != null){
	 						@if(navs.contains("account")){
		 						@if(models.User.parseUserId(session()) >= 0){
			 						<li class="@("active".when(nav == "account"))"><a href="@routes.Account.overview()"><i class="icon-user icon-white"></i> @session.get("name")</a></li>
			 					}else{
			 						@if(Setting.get("users.guest.showGuestName") == "true"){
			 							<li class="@("active".when(nav == "account"))"><a href="#"><i class="icon-user icon-white"></i> @session.get("name")</a></li>
			 						}
		 						}
	 						}
	 					}
		 				@if(navs.contains("login") && controllers.Application.deployment()=="server"){
		 					<li class="@("active".when(nav == "login"))">
		 						@if(session.get("email")==null || models.User.parseUserId(session()) != null && models.User.parseUserId(session()) < 0){
		 							<a href="@routes.Login.login()"><i class="icon-lock icon-white"></i> Log in</a>
		 						}else{
	 								<a href="@routes.Login.logout()"><i class="icon-remove icon-white"></i> Log out</a>
		 						}
	  						</li>
	  					}
	  					@if(navs.contains("shutdown") && controllers.Application.deployment()=="desktop"){
	  						<li class="@("active".when(nav == "shutdown"))">
	  							<a href="@routes.Administrator.shutdown()"><i class="icon-remove icon-white"></i> Shut down</a>
	  						</li>
	  					}
	  				</ul>
				</nav>
			</div>
		</div>
	</div>
	
	<div class="container">
   	
		@content
	
	</div>
	
	<!-- Scripts -->
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/json2.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
	@for(script <- moreScripts) {
		<script src="@routes.Assets.at("javascripts/"+script)" type="text/javascript"></script>
	}
	<script src="@routes.Application.theme("javascripts/theme.js")?@Application.themeName()" type="text/javascript"></script>
  </body>
</html>
